# -*- mode: conf -*-
# This file was installed by BurrMill.
#
# Configre nic0, aka eth0, sometimes ens4, enp0s4.
#
# Do not request hostname. See hostname_from_metadata.service for the
# explanation why.

[Match]
Name=en*s4 eth0

[Network]
Description=nic0 interface
DHCP=ipv4
LLMNR=false
# Essentially disable IPv6 because systemd #12504. Fix in commits 4eb086a38 and
# 9f6e82e6e but not yet released. GCE does not support IPv6 anyway, and whether
# IPv6LL will be useful when it does is unknown.
LinkLocalAddressing=no

[DHCP]
RouteMetric=100
SendHostname=false
UseHostname=false
UseDomains=true
UseMTU=true
